<!doctype html>
<html>
<head>
    <title>Welcome to the Wddit Dashboard</title>
    <script src="https://code.jquery.com/jquery-2.1.1.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/script.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>

</head>
<body>
  <div class="container">
    <center><h1>Wddit v2 Analytics Dashboard


    NOPE </h1></center>


    <div id="graph-container" class='container'>
    </div>

    </div>

</body>
</html>
