h1 {
  padding-top: 10px;
}

.title {
  margin-left: 2em;
  color: #637939;
}

.row {
  height: 100vh;
  width: 100%;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.time {
  font-style: italic;
  margin-bottom: 1em;
}

#quickstats {
  margin-top: 15px;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.stats {
  border: 3px solid #637939;
  width: 30%;
  color: #637939;
  background-color: white;
}

.descript, .figure {
  margin-left: 10px;
}

.figure {
  font-size: 30px;
}

#userPostsGraphTitle, #userCommentsGraphTitle {
  margin-top: 1em;
  margin-left: 1em;
  color: #637939;
  font-size: 3vw;
}


#nav {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#main, #about {
  background-color: rgb(247, 249, 223)
}

#posts, #comments,#userActivity {
  background-color: rgb(241, 249, 242)
}

#userBehaviour {
  background-color: rgb(242, 241, 249)
}

#guestsAndConversions {
  background-color: rgb(245, 227, 218)
}

h3 {
  margin-top: 10px;
}

.bar {
    fill: #8ca252;
  }

.bar:hover {
  fill: #cedb9c;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
