h1 {
  padding-top: 20px;
}

.title {
  padding: 1em;
}

.row {
  height: 140vh;
  width: 100%;
}

.time {
  font-style: italic;
  margin-bottom: 1em;
}

tr{
    background-color: #393b79;
    color: #FFFFFF;

}
td{
  background-color: #9c9ede;
  color: #FFFFFF;
}

table {
  width: 100%;
}

#conversionsGraph {
  height: 360px;
  position: relative;
  width: 360px;
}

#conversionsGraphTitle, #guestSearchTermsTitle {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
  color: #8c6d31;
}

.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  /*box-shadow: 0 0 5px black;*/
  color: black;
  display: none;
  font-size: 12px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 80px;
  z-index: 100;
  border: 2px solid black;
  opacity:1 !important;
}

.label {
  display: block;
}

.count {
  display: block;
}

.percent {
  display: block;
}

#nav {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#main, #about {
  background-color: rgb(247, 249, 223)
}

#posts, #comments,#userActivity {
  background-color: rgb(241, 249, 242)
}

#userBehaviour {
  background-color: rgb(242, 241, 249)
}

#guestsAndConversions, #conversions {
  background-color: rgb(245, 227, 218)
}

.legend {
    font-size: 12px;
}

rect {
    stroke-width: 2;
}
